body {
    font-family: 'Gochi Hand', cursive;
    letter-spacing: 2px;
    font-size: 24px;
    background-image: url("assets/grass.jpg");
    background-size: cover;
}

h2 {
    margin: 16px;
}

/* Reusable */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width75 {
    width: 75%;
}

.width100 {
    width: 100%;
}

.centerText {
    text-align: center;
}

/* Specifics */
.pageContainer {
    height: 100%;
    width: 100%;
}

#banjoImg {
    height: 200px;
    width: 200px;
    margin-top: 16px;
    border: solid #fcfbd4 2px;
    box-shadow: 0px 0px 32px #fcfbd4 inset, 0px 0px 32px #fcfbd4;
    background-image: url("assets/house.jpg");
    background-size: contain;
}

@keyframes headRotate {
    from {transform: rotate(7deg);}
    to {transform: rotate(-21deg);}
}

#banjoHead {
    height: 100px;
    width: 100px;
    margin-right: 8px;
    animation-name: headRotate;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#cardId {
    margin-bottom: 8px;
    width: 50%;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
}

#textBox {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 16px;
    display: none;
    color: white;
    width: 100%;
    min-height: 2rem;
    align-items: center;
}

#submitButton {
    width: 33%;
    height: 32px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 16px;
}

#cardDescription {
    max-height: 56px;
    overflow: hidden;
}

@keyframes loadingRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#loadingIcon {
    display: none;
    margin: 16px;
    height: 48px;
    width: 48px;
    animation-name: loadingRotate;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}