@font-face {
    font-family: 'Andy Bold';
    src: url('assets/andyBold.ttf');
    /* font-stretch: expanded; */
}

body, html {
    height: 100%;
}

body {
    font-family: 'Andy Bold', cursive;
    font-size: 24px;
    background-image: url("assets/grass.jpg");
    background-size: cover;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

/* Reusable */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width75 {
    width: 75%;
}

.width100 {
    width: 100%;
}

.centerText {
    text-align: center;
}

.activeFade {
    opacity: 0;
    transition: visibility 0s 1.5s, opacity 1.5s linear;
}

/* Specifics */
.pageContainer {
    height: 100%;
    width: 100%;
}

#banjoImg {
    height: 200px;
    width: 200px;
    margin-top: 16px;
    border: solid #fcfbd4 2px;
    box-shadow: 0px 0px 32px #fcfbd4 inset, 0px 0px 32px #fcfbd4;
    background-image: url("assets/house.jpg");
    background-size: contain;
}

#instructionText {
    margin-top: 16px;
}

#cardField {
    margin-top: 16px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
}

#submitButton {
    width: 33%;
    height: 32px;
    margin-top: 16px;
    border-radius: 8px;
    font-size: 16px;
}

#loadingIcon {
    display: none;
    margin: 16px;
    height: 48px;
    width: 48px;
    animation-name: loadingRotate;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cardTitle {
    margin-top: 16px;
    margin-bottom: 0px;
}

#textBox {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 16px;
    margin-top: 16px;
    display: none;
    color: white;
    width: 100%;
    min-height: 2rem;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@keyframes headRotate {
    from {transform: rotate(7deg);}
    to {transform: rotate(-21deg);}
}

#banjoHead {
    height: 100px;
    width: 100px;
    margin-right: 8px;
    animation-name: headRotate;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#cardDescription {
    max-height: 56px;
    overflow: hidden;
}

@keyframes loadingRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 1.3em;
    }

    .width50 {
        width: 90%;
    }

    #banjoImg {
        height: 150px;
        width: 150px;
    }

    #cardField {
        height: 40px;
    }

    #submitButton {
        width: 50%;
        height: 48px;
    }

    #banjoHead {
        height: 75px;
        width: 75px;
    }

    #textBox {
        padding: 12px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 16px;
    }

    .pageContainer {
        justify-content: space-around;
    }
}